WarningsAsErrors: ''

Checks: >
  *,
  -abseil-*,
  -altera-unroll-loops,
  -boost-use-ranges,
  -bugprone-branch-clone,
  -bugprone-narrowing-conversions,
  -bugprone-random-generator-seed,
  -cert-int09-c,
  -cert-msc32-c,
  -cert-msc51-cpp,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -cppcoreguidelines-pro-type-union-access,
  -fuchsia-*,
  -google-explicit-constructor,
  -google-readability-todo,
  -hicpp-avoid-c-arrays,
  -hicpp-avoid-goto,
  -hicpp-braces-around-statements,
  -hicpp-deprecated-headers,
  -hicpp-explicit-conversions,
  -hicpp-member-init,
  -hicpp-move-const-arg,
  -hicpp-named-parameter,
  -hicpp-no-array-decay,
  -hicpp-signed-bitwise,
  -hicpp-special-member-functions,
  -hicpp-uppercase-literal-suffix,
  -hicpp-use-auto,
  -hicpp-use-emplace,
  -hicpp-use-equals-default,
  -hicpp-use-equals-delete,
  -hicpp-use-nullptr,
  -hicpp-use-override,
  -hicpp-vararg,
  -llvm-header-guard,
  -llvm-namespace-comment,
  -llvm-prefer-static-over-anonymous-namespace,
  -llvm-use-ranges,
  -llvmlibc-*,
  -misc-include-cleaner,
  -misc-non-private-member-variables-in-classes,
  -modernize-pass-by-value,
  -modernize-use-auto,
  -modernize-use-designated-initializers,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -performance-no-int-to-ptr,
  -readability-enum-initial-value,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-math-missing-parentheses,
  -readability-static-accessed-through-instance,
  -readability-uppercase-literal-suffix

CheckOptions:
  cppcoreguidelines-rvalue-reference-param-not-moved.AllowPartialMove: true
  cppcoreguidelines-rvalue-reference-param-not-moved.IgnoreNonDeducedTemplateTypes: true
  
