**/out/
**/build/
**/.vs/
**/.vscode/
**/.claude/
**/.idea/
**/Testing/
/external_project/
/RELEASE/
/.vscode/
*.code-workspace
**/CMakePresets.json
**/CMakeUserPresets.json
**/CMakeSettings.json
/doc/
/*.ini
/*.APS
/*.rc
CLAUDE.md